*{
    margin: 0;
    padding:0;

}
body{
    background-color: rgb(3, 3, 78);
   
}
.container{
    display: flex;
    position: relative;
    width:100%;
    height: 100vh;
    overflow: hidden;
}
.bullecenter{
    position: relative;
    width:30px;
    height: 30px;
    background-color: rgb(245, 48, 179);
    border-radius: 50%;
    margin: 0px 5px;
    box-shadow:0 0 0 10px #dc4f9d44 ,
        0 0 50px #d74fdc,
        0 0 100px #dc4fc5;
  animation: x 15s linear infinite;
  animation-duration: calc( 120s /var(--i));
  
}
.bulle{
     position: relative;
     width:30px;
     height: 30px;
     background-color: rgb(48, 140, 245);
     border-radius: 50%;
     margin: 0px 5px;
     box-shadow:0 0 0 10px #4fc3dc44 ,
         0 0 50px #4fc3dc,
         0 0 100px #4fc3dc;
   animation: x 15s linear infinite;
   animation-duration: calc( 120s / var(--i));
   

}

@keyframes x {
      
       0%{
        transform: translateY(100vh) scale(0);
        
       }
       
       100%{
        transform: translateY(-10vh) scale(1);
       }
}